
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

.fond{
    display: flex;
    margin: auto;
    position: fixed;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: -20;
    animation: reset_opacity 4s cubic-bezier(1,-0.11,1,.11);
    animation-fill-mode: forwards;
    background-color: #000;
    .cercle{
        height: 400px;
        width: 400px;
        filter: blur(72px);
        background: $color-primary;
        border-radius: 50%;
        display: flex;
        margin: auto;
        scale: (0.5);
        animation: pulsation 1s infinite linear;
        animation-fill-mode: forwards;        /* La cible conservera les valeurs calculées définies par 
                                                la dernière image clé rencontrée lors de l'exécution.*/          
    }
}

.logo {
    animation: swing-top-fwd 4s linear;
    animation: reset_opacity 4s cubic-bezier(1,-0.11,1,.11);
    animation-fill-mode: forwards;
    &__container{
        width: 60%;
        display: flex;
        position: fixed;
        left:0;
        right:0;
        bottom: 0;
        top: 0;
        z-index: -10;
        padding-top: 20px;
        &__O{
            fill: $color-primary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 100ms;
        }
        &__H{
            fill: $color-secondary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 400ms;
        }
        &__M{
            fill: $color-tertiary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 700ms;
        }
        &__Y{
            fill: $color-primary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 1000ms;
        }
        &__F{
            fill: $color-secondary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 1300ms;
        }
        &__o{
            fill: $color-tertiary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 1600ms;
        }
        &__0{
            fill: $color-primary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 1900ms;
        }
        &__D{
            fill: $color-secondary;
            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
            animation-delay: 2200ms;
        }
    }
}

.chargement {
    position: fixed;
    left:0;
    right:0;
    top: 250px;
    bottom:0;   
    animation: loader 3s linear; /* loader = agrandissemnet, opacité, effacement*/
    animation-fill-mode: forwards;
    z-index: -10;
    &__container{
        display: flex;
        &__assiette{
            width: 300px;
            height: 300px;
            border-radius: 50%; /*border radius*/
            box-shadow: inset 0 -2px 1px rgb(72, 48, 32);
            scale: (0.8);
            background: #ab98c2;
            &__fond{
                margin: 15%;
                min-width: 70%;
                max-width: 70%;
                min-height: 70%;
                max-height: 70%;
                border-radius: 50%;
                box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3), inset 0 -2px 1px rgba(255, 255, 255, 1);
                &__centre{
                    background: #000;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 5%;
                    height: 5%;
                    &__container-fourchette{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        animation: rotate 6s infinite linear;
                        &__fourchette{
                            position: absolute;
                            scale: (0.25);
                            top: -430px;
                            left: -63px;
                        }
                    }
                    &__container-couteau{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        animation: rotate 2s infinite linear;
                        &__couteau{
                            position: absolute;   
                            scale: (0.20);
                            transform: rotate(90deg);
                            top: -370px;
                            left: 25px;
                        }
                    }
                }
            }    
        }          
    }
}

@keyframes cache{                      /* cache page d'acceuil (nav, main, footer)
                                        pendant le loader + degradé du coeur*/
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sortie_cache{                   /* sortie hover coeur*/
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulsation{          /* effet arrière plan*/
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}

@keyframes rotate{                                 /*rotation couteau, fourchette*/
    100% {
        transform: rotateZ(720deg);
    }
}

@keyframes loader{
    0% {
       scale: 0.8;
    }
    90%{
        scale: 1;
    }
    95% {
        opacity: 1.2;
    }
    100% {
        opacity: 0;
        scale: 1.5;
        visibility: hidden;
    }
}

@keyframes swing-top-fwd{              /* mouvement des svg du loader*/      
    0% {
        transform: rotateX(180deg);
        transform-origin: bottom;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
    }
}

@keyframes reset_opacity{  /* disparition du logo + fond*/
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes deplacement{     /* deplacement des carte du menu*/
    0% {
        bottom: -20px;
        opacity: 0;
    }
   
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@for $i from 0 to 3 {
    .delay-#{$i} {
      animation-delay: 0.8s * $i !important;
    }
}
