.main__resto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media all and (min-width: 768px){
        width: 90%;
    }
    &__titre{
        width: 100%;
        margin-bottom: 40px;
        font-weight: 900;
        margin-top: 30px;
        padding-left: 20px;
        @media all and (min-width: 768px){
            text-align: center; 
        }
    }
    &__article{
        width: 100%;
        margin: 0 20px 0 20px;
        width: calc(100% - 40px);
        height: 220px;
        margin-bottom: 40px;
        box-shadow: 0px 4px 4px 2px  #dcdbdb;
        border-radius: 20px;
        @media all and (min-width: 768px){
            margin: 0 0 40px 0;
            width: 45%; 
        }
        @media all and (min-width: 992px){
            width: 23%;
            margin-left: 0;
        }
        &__photo{
            position: relative;
            &__image{
                object-fit: cover;
                width: 100%;
                height: 150px;
                border-radius: 20px 20px 0 0;
            }
            &__promo{
                position: absolute;
                top: 0;
                right: 0;
                width: 85px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                &__nouveau{
                    width: 65px;
                    height: 25px;
                    padding: 5px;
                    background-color: rgb(153, 226, 208);
                    color: rgb(19, 146, 116);
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
        &__contenue{
            display: flex;
            width: 100%;
            padding: 10px;
            color:black;
            &__texte{
                width: 90%;
                text-align: left;
                &__titre{
                    height: 22px;
                }
            }
            &__icone{
                width: 10%;
                position: relative;
                &__coeur{
                    cursor: pointer;
                    font-size: 24px;
                    position: absolute;   
                }
                &__coeur2{
                    cursor: pointer;
                    font-size: 25px;
                    opacity: 0;
                    background: -webkit-linear-gradient($color-primary, $color-secondary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    position: absolute;
                }    
                &__coeur2:hover{
                    cursor: pointer;
                    animation: cache 800ms linear;
                    animation-fill-mode: forwards;
                }
                &__coeur2:not(:hover){
                    cursor: pointer;
                    animation: sortie_cache 800ms linear;
                    animation-fill-mode: forwards;
                }      
                &__coeur2:active{
                    @media all and (min-width: 768px){
                        cursor: pointer;
                        animation: cache 400ms linear;
                        animation-fill-mode: forwards;
                    } 
                } 
            }
        }
    } 
}
