
.main__filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    
    @media all and (min-width: 768px){
        width: 90%;
    }
    &__titre{
        width: 100%;
        text-align: left;
        font-weight: 900;
        height: 60px;
        margin-left: 20px;
        @media all and (min-width: 768px){
            text-align: center;
        }
    }
    &__bouton{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        box-shadow: 0px 4px 4px 2px  #dcdbdb;
        background-color: #f6f6f6;
        width: 100%;
        margin: 0 20px 20px 30px;
        width: calc(100% - 50px);
        height: 70px;
        @media all and (min-width: 768px){
            width: 45%;
            margin-left: 10px;
            margin-right: 10px;
        }
        @media all and (min-width: 992px){
            width: 30%;
        }
        &__N{
            max-height: 25px;
            min-height: 25px;
            max-width: 25px;
            min-width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $color-primary;
            color: white;
            font-size: 12px;
            position: relative;
            top: 0;
            left: -15px;
        }
        &__icone{
            font-size: 20px;
            width: 15%;
            padding-left: 10px;
            color: #a2a1a1;
        }
        &__titre{
            white-space: nowrap;
            width: 80%;
        }
    }
    &__bouton:hover{
        background-color: #f7f0ff;
        cursor: pointer;
    }
    &__bouton:hover &__bouton__icone{
        color: $color-primary;
    }
}
  