.header__en-tete{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    width: 100%;
    &__icone{
        font-size: 20px;
        width: 25%;
    }
    &__logo{
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 75%;
        font-family: "Shrikhand", sans-serif;
    }
}
.header__photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: 5;
}
.menu{
    width: 100%;
    background-color: rgb(229, 229, 229);
    margin-top: -60px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    z-index: 10;
    &__en-tete{
        width: 100%;
        display: flex;
        padding-top: 30px;
        &__titre{
            font-family: "Shrikhand", sans-serif;
            width: 90%;
            padding-left: 20px;
            font-size: 20px;
        }
        &__icone{
            padding-right: 40px;
            position: relative;
            &__coeur{
                font-size: 20px;
            }
            &__coeur2{
                position: absolute;
                left: 0;
                opacity: 0;
                background: -webkit-linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-size: 21px;
            }
            &__coeur2:hover{
                cursor: pointer;
                animation: cache 500ms linear;
                animation-fill-mode: forwards;
            }
            &__coeur2:not(:hover){
                cursor: pointer;
                animation: sortie_cache 500ms linear;
                animation-fill-mode: forwards;
            }      
            &__coeur2:active{
                @media all and (max-width: 768px){
                    cursor: pointer;
                    animation: cache 500ms linear;
                    animation-fill-mode: forwards;
                }
            }      
        }
    }
    &__repas{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__titre{
            text-transform: uppercase;
            font-weight: normal;
            padding-left: 20px;
            width: 100%;
            height: 30px;
            position: relative;
            margin-top: 40px;
            &::after {
                content: "";
                width: 40px;
                height: 4px;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                bottom: 2px;
                margin-left: 20px;  
            }
        }
        &__entree, &__plat, &__desserts{
            display: flex; 
            width: 100%;
            margin: 10px 20px 10px 20px;
            width: calc(100% - 40px);
            height: 70px;
            overflow: hidden;
            position: relative;
            background: white;
            border-radius: 20px;
            animation: apparition .6s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            &__header{
                width: 95%;
                padding-top: 10px;
                margin-left: 10px;
                line-height: 25px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &__titre{
                    font-weight: 900;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &__commentaire{
                    font-weight: 400;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            &__prix{
                padding-bottom: 15px;
                font-weight: 900;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-right: 10px;
                font-size: 15px;
            } 
            &__confirmation {
                background-color: $color-tertiary;
                margin-right: -80px;
                width: 80px;
                display:flex;
                align-items:center;
                justify-content:center;
                transition-duration: 1.2s;
                &__animicone {
                    height: 20px;
                    width: 20px;
                    background-color: white;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    border-radius: 100%;
                    transform: rotate(0);
                    transition-duration: 1s;
                    &__icone {
                        color: $color-tertiary;
                        font-size: 14px;
                    }
                }
            } 
            &:hover &__confirmation{
                cursor: pointer;
                margin-right: 0;
                &__animicone {
                    cursor: pointer;
                    transform: rotate(360deg);
                }
            } 
        } 
    }
    &__bouton{
        height: 120px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &__titre{
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            padding: 18px;
            border-radius: 10%/50%;
            text-align: center;
            color: white;
            background: linear-gradient($color-secondary, $color-primary);
            box-shadow: 0px 4px 4px 2px  #cfcece;
        }
        &__titre:hover{
            box-shadow: 0px 2px 2px 2px  #4c4c4c;
            background: linear-gradient(#f89fdf, #b48fe0);
        }
    }
}

@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay: 0.8s * $i !important;
    }
}

