.nav{
    &__header{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__logo {
            font-family: "Shrikhand", sans-serif;
            font-size: 30px;
            text-align: center;
        }
    }
    &__localisation{
        width: 100%;
        box-shadow: 0px 4px 0px 0px #d3d2d2 inset;
        background:linear-gradient(#e2e2e2, #f3f3f3);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        &__container{
            display: flex;
            width: 240px;
            height: 40px;
            align-items: center;
            justify-content: center;
            &__icone{
                font-size: 18px;
                width: 50px;
                text-align: right;
            }
            &__input{
                white-space: nowrap;
                font-weight: 700;
                width: 80%;
                padding-left: 15px;
                font-size: 18px;
                border: none;
                background: transparent;
                padding-top: 5px;
            }
            &__input:focus{
                outline: none;                 /* enlevement de la bordure entrée input */
            }
            &__input::placeholder{               /* police zone de recherche en noire par défault */
                font-weight: bold;
                color: black;
            }
            &__input::-moz-placeholder{                  /* Mozilla Firefox 19+ */
                color:    #666;
                opacity:  1;
            }
        }
    }
    &__explo{
        flex-direction: column;
        width: 100%;
        display: flex;
        text-align: center;
        background:linear-gradient(#ffffff, #f2f1f1);
        padding-bottom: 30px;
        &__titre{
            font-weight: 900;
            height: 120px;
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soustitre{
            height: 100px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__bouton{
            height: 120px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &__titre{
                font-size: 18px;
                font-weight: 500;
                width: 100%;
                padding: 18px;
                border-radius: 10%/50%;
                color: white;
                background: linear-gradient($color-secondary, $color-primary);
                box-shadow: 0px 4px 4px 2px  #cfcece;
            }
            &__titre:hover{
                box-shadow: 0px 2px 2px 2px  #4c4c4c;
                background: linear-gradient(#f89fdf, #b48fe0);
            }
        }
    }
}