.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.logo__container {
  display: flex;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: -400px;
  bottom: 0;
  -webkit-animation: swing-top-fwd 4s linear;
          animation: swing-top-fwd 4s linear;
  -webkit-animation: reset_opacity 4s linear;
          animation: reset_opacity 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.logo__container__O {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.logo__container__H {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.logo__container__M {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.logo__container__Y {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.logo__container__F {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
.logo__container__o {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.logo__container__0 {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
.logo__container__D {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.chargement {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-animation: loader 3s linear;
          animation: loader 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chargement__container {
  display: flex;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 0;
}
.chargement__container__assiette {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 -2px 1px rgb(72, 48, 32);
  scale: 0.5;
  background: #ab98c2;
}
.chargement__container__assiette__fond {
  margin: 15%;
  min-width: 70%;
  max-width: 70%;
  min-height: 70%;
  max-height: 70%;
  border-radius: 50%;
  box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3), inset 0 -2px 1px rgb(255, 255, 255);
}
.chargement__container__assiette__fond__centre {
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
}
.chargement__container__assiette__fond__centre__container-fourchette {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 6s infinite linear;
          animation: rotate 6s infinite linear;
}
.chargement__container__assiette__fond__centre__container-fourchette__fourchette {
  position: absolute;
  scale: 0.2;
  top: -430px;
  left: -63px;
}
.chargement__container__assiette__fond__centre__container-couteau {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}
.chargement__container__assiette__fond__centre__container-couteau__couteau {
  position: absolute;
  scale: 0.2;
  rotate: 90deg;
  top: -370px;
  left: 25px;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotateZ(720deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(720deg);
  }
}
@-webkit-keyframes loader {
  0% {
    scale: 0.5;
  }
  90% {
    scale: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}
@keyframes loader {
  0% {
    scale: 0.5;
  }
  90% {
    scale: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}
@-webkit-keyframes swing-top-fwd {
  0% {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@keyframes swing-top-fwd {
  0% {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@-webkit-keyframes reset_opacity {
  100% {
    opacity: 0;
  }
}
@keyframes reset_opacity {
  100% {
    opacity: 0;
  }
}
body {
  font-family: "roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
  max-width: 1400px;
}

.nav {
  -webkit-animation: cache 5s linear;
          animation: cache 5s linear;
}

.header__logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  padding-top: 15px;
}

.localisation {
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 0px 0px #d3d2d2 inset;
  background: linear-gradient(#e2e2e2, #f3f3f3);
  display: flex;
  padding-top: 20px;
}
.localisation__container {
  display: flex;
  width: 23%;
}
.localisation__container__icone {
  width: 20%;
  margin: 0;
}
.localisation__container__texte {
  white-space: nowrap;
  font-weight: 700;
  width: 80%;
  margin: 0;
}

.explo {
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.explo__titre {
  font-size: 30px;
  padding-top: 15px;
}

@-webkit-keyframes cache {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cache {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */