@charset "UTF-8";
.logo {
  -webkit-animation: swing-top-fwd 4s linear;
          animation: swing-top-fwd 4s linear;
  -webkit-animation: reset_opacity 4s linear;
          animation: reset_opacity 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.logo__container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  z-index: -10;
}
.logo__container__O {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.logo__container__H {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.logo__container__M {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.logo__container__Y {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.logo__container__F {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
.logo__container__o {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.logo__container__0 {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
.logo__container__D {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.chargement {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-animation: loader 3s linear;
          animation: loader 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -10;
}
.chargement__container {
  display: flex;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 0;
}
.chargement__container__assiette {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 -2px 1px rgb(72, 48, 32);
  scale: 0.5;
  background: #ab98c2;
}
.chargement__container__assiette__fond {
  margin: 15%;
  min-width: 70%;
  max-width: 70%;
  min-height: 70%;
  max-height: 70%;
  border-radius: 50%;
  box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3), inset 0 -2px 1px rgb(255, 255, 255);
}
.chargement__container__assiette__fond__centre {
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
}
.chargement__container__assiette__fond__centre__container-fourchette {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 6s infinite linear;
          animation: rotate 6s infinite linear;
}
.chargement__container__assiette__fond__centre__container-fourchette__fourchette {
  position: absolute;
  scale: 0.2;
  top: -430px;
  left: -63px;
}
.chargement__container__assiette__fond__centre__container-couteau {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}
.chargement__container__assiette__fond__centre__container-couteau__couteau {
  position: absolute;
  scale: 0.2;
  rotate: 90deg;
  top: -370px;
  left: 25px;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotateZ(720deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(720deg);
  }
}
@-webkit-keyframes loader {
  0% {
    scale: 0.5;
  }
  90% {
    scale: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    scale: 0.5;
  }
  90% {
    scale: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1;
    visibility: hidden;
  }
}
@-webkit-keyframes swing-top-fwd {
  0% {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@keyframes swing-top-fwd {
  0% {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@-webkit-keyframes reset_opacity {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes reset_opacity {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body {
  font-family: "roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
  max-width: 1400px;
}

h2 {
  font-size: 30px;
}

.nav {
  -webkit-animation: cache 5s linear;
          animation: cache 5s linear;
  z-index: 10;
}
.nav__header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__header__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  text-align: center;
}
.nav__localisation {
  width: 100%;
  box-shadow: 0px 4px 0px 0px #d3d2d2 inset;
  background: linear-gradient(#e2e2e2, #f3f3f3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.nav__localisation__container {
  display: flex;
  width: 240px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.nav__localisation__container__icone {
  font-size: 18px;
  width: 50px;
  text-align: right;
}
.nav__localisation__container__input {
  white-space: nowrap;
  font-weight: 700;
  width: 80%;
  padding-left: 15px;
  font-size: 18px;
  border: none;
  background: transparent;
  padding-top: 5px;
}
.nav__localisation__container__input:focus {
  outline: none; /* enlevement de la bordure entrée input */
}
.nav__localisation__container__input::-moz-placeholder { /* police zone de recherche en noire par défault */
  font-weight: bold;
  color: black;
}
.nav__localisation__container__input:-ms-input-placeholder { /* police zone de recherche en noire par défault */
  font-weight: bold;
  color: black;
}
.nav__localisation__container__input::placeholder { /* police zone de recherche en noire par défault */
  font-weight: bold;
  color: black;
}
.nav__localisation__container__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}
.nav__explo {
  flex-direction: column;
  width: 100%;
  display: flex;
  text-align: center;
  background: linear-gradient(#ffffff, #f2f1f1);
  padding-bottom: 30px;
}
.nav__explo__titre {
  font-weight: 900;
  height: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__explo__soustitre {
  height: 100px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__explo__bouton {
  height: 120px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__explo__bouton__titre {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 18px;
  border-radius: 10%/50%;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 4px 2px #cfcece;
}
.nav__explo__bouton__titre:hover {
  box-shadow: 0px 2px 2px 2px #4c4c4c;
}

.main {
  -webkit-animation: cache 5s linear;
          animation: cache 5s linear;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main__filtre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  width: 30%;
  height: 400px;
}
@media all and (max-width: 768px) {
  .main__filtre {
    width: 80%;
  }
}
.main__filtre__titre {
  width: 350px;
  text-align: left;
  font-weight: 900;
}
.main__filtre__bouton {
  display: flex;
  max-width: 350px;
  min-width: 350px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 5%/40%;
  position: relative;
  box-shadow: 0px 4px 4px 2px #dcdbdb;
}
.main__filtre__bouton__N {
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  position: relative;
  top: 0;
  left: -15px;
}
.main__filtre__bouton__icone {
  font-size: 25px;
  width: 20%;
  padding-left: 10px;
  color: #a2a1a1;
}
.main__filtre__bouton__titre {
  white-space: nowrap;
  width: 80%;
}
.main__filtre__bouton:hover {
  background-color: #f7f0ff;
  cursor: pointer;
}
.main__filtre__bouton:hover .main__filtre__bouton__icone {
  color: #9356DC;
}

@-webkit-keyframes cache {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cache {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */